<div class="card">
  <h2>לאמוש</h2>
  <p>
    דבר ראשון אני אפתח את הברכה בלהתנצל על זה שלא הכנתי ברכות בשנתיים האחרונות אז
    סליחה🙏
  </p>
  <p>
    בקיצור, המון מזל טוב בריאות ואושר. אני אוהב אותך המון ולמרות שאני צוחק על זה
    בחיים לא הייתי מחליף אותך בשום אמא אחרת.
  </p>
  <p>
      כמו שאמרתי לך גם בזמן האחרון שהבנתי כמה אמא טובה ומדהימה את וכמה אני באמת צריך
      להעריך אותך על מי שאת ועל האמא שאת.
  </p>
  
  <p>
      אני מאחל לנו שנמשיך לצחוק ולהנות בכל רגע
      שהוא ולהפוך הכל לחוויה טובה ומאושרת. את בן אדם מדהים (גם קצת משוגעת) ובין האנשים
      היותר מיוחדים שאני מכיר.
  </p>
  
  <p>
      אני אוהב אותך מאוד ואני מקווה שהקשר שלנו ימשיך להיות
      קרוב וחזק כמו מאז שאני בן 0. אז תודה רבה לך על הכל אני אוהב אותך ומאחל לשנינו
      שכשאני אלך לצבא את לא תשתגעי❤️🫶😘    
  </p>
  
</div>

<button (click)="store.nextStep()">יאללה למתנה! 🎉✨</button>

