
<div class="card">
  <h2>אדוה יקרה שלי</h2>

  <p>
    איזה שנה מטורפת עברנו ביחד, גם כל אחד בעצמו וגם שנינו ביחד כזוג. היתה שנה
    מאתגרת ולא פשוטה אבל לא הייתי מוותר על שניה ממנה, כי בעיניי זאת היתה אחת
    מהשנים הכי משמעותיות שלנו
  </p>
  
  <p>
    לפעמים דרך הסערות מגיעים למקומות הכי טובים. ואין ספק שהשנה יצאת לדרך חדשה
    ומרתקת. אני יודע שלפעמים זה מבלבל ומשאיר אותך קצת באוויר, אבל תנסי לנשום
    ברוגע, לרחף לך לעבר היעד הבא, ולזכור שבעוד כמה שנים תסתכלי אחורה על הנקודה
    הזאת והיא תראה לך מתוקה ומרתקת. הנקודה שבה המצאת את עצמך מחדש.
  </p>
  
  <p>
    אני רוצה לאמר לך תודה, על הדבש ועל העוקץ, על המר והמתוק. על כל מי שאת. אתה
    יכול לגלגל את העיניים, להתעצבן, לצחוק בציניות, לתלוש את השערות שאין, ו5 דקות
    אחר כך לקלוט כמה שאתה אוהב את המכלול הזה שאת מההתחלה ועד הסוף. וכמה שלא היית
    מחליף שום תכונה בעולם.
  </p>
  <p>
  אני מקווה שהשנה הבאה תהיה עוד יותר מרתקת ומשמעותית ושנוכל להמשיך להתקדם יחד ולהגשים יחד חלומות ומטרות חדשות.
  לטייל קצת יותר, לשמוע חדשות קצת פחות, לבלות ולחגוג קצת יותר, לשבת מול הטלויזיה קצת פחות. 
  לצאת ביחד הרבה יותר, ופשוט לעשות את כל מה שכיף לנו.
  </p>
  
  <p>
    אוהב הכי בעולם 💚 
    בולי
  </p>
  
  
</div>

<button (click)="store.nextStep()">יאללה למתנה! 🎉✨</button>

